@include laptop {
  .about-us {
    display: flex;
    margin-bottom: 101px;

    &__image {
      width: 336px;
      height: 336px;
      margin-left: auto;
      padding-top: 29px;
    }

    &__text {
      width: 635px;
      margin-right: 194px;
      text-align: left;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 13px;
      font-size: 36px;
      font-weight: 600;
      line-height: 80px;
      text-align: left;
    }

    &__description {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: $thirdly-color;
      margin-top: 0;
      margin-bottom: 5px;
    }

    .stat {
      text-align: center;
    }

    .stats {
      display: flex;
      justify-content: space-between;
    }

    .number {
      display: block;
      font-size: 30px;
      font-weight: 600;
      line-height: 80px;
      text-align: center;
      color: #2a3246;

      &:hover {
        transition: all 0.2s ease-out;
        color: $fourthly-color;
      }
    }

    .label {
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      color: $thirdly-color;
    }
  }
}

@include tablet {
  .about-us {
    display: flex;
    margin-bottom: 88px;

    &__image {
      width: 295px;
      height: 295px;
      margin-left: auto;
      padding-top: 36px;
    }

    &__text {
      width: 321px;
      margin-right: 78px;
      text-align: left;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 1px;
      font-size: 30px;
      font-weight: 600;
      line-height: 80px;
      text-align: left;
    }

    &__description {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      color: $thirdly-color;
      margin-top: 0;
      margin-bottom: 5px;
    }

    .stat {
      text-align: center;
    }

    .stats {
      display: flex;
      justify-content: space-between;
    }

    .number {
      display: block;
      font-size: 22px;
      font-weight: 600;
      line-height: 80px;
      text-align: center;
      color: #2a3246;

      &:hover {
        transition: all 0.2s ease-out;
        color: $fourthly-color;
      }
    }

    .label {
      display: block;
      font-size: 13px;
      font-weight: 400;
      line-height: 19px;
      text-align: center;
      color: $thirdly-color;
    }
  }
}

@include mobile {
  .about-us {
    display: flex;
    flex-direction: column;
    margin-bottom: 131px;

    &__image {
      width: 352px;
      height: 352px;
      margin-top: 0;
      margin-left: auto;
      margin-bottom: 25px;
      order: 2;
    }

    &__text {
      width: 510px;
      text-align: center;
      order: 3;
      margin: 0;
      padding: 0;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 23px;
      font-size: 30px;
      font-weight: 600;
      line-height: 80px;
      text-align: center;
      order: 1;
    }

    &__description {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: $thirdly-color;
      margin-top: 0;
      margin-bottom: 1px;
    }

    .stat {
      text-align: center;
    }

    .stats {
      display: flex;
      justify-content: space-between;
    }

    .number {
      display: block;
      font-size: 24px;
      font-weight: 600;
      line-height: 80px;
      color: #2a3246;
      text-align: center;

      &:hover {
        transition: all 0.2s ease-out;
        color: $fourthly-color;
      }
    }

    .label {
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: center;
      color: $thirdly-color;
    }
  }
}

@include small__mobile {
  .about-us {
    display: flex;
    flex-direction: column;
    margin-bottom: 84px;

    &__image {
      width: 283px;
      height: 283px;
      margin: 0 auto;
      margin-bottom: 23px;
      order: 2;
    }

    &__text {
      width: 280px;
      text-align: center;
      order: 3;
      margin: 0;
      padding: 0;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 600;
      line-height: 80px;
      text-align: center;
      order: 1;
    }

    &__description {
      font-size: 13px;
      font-weight: 400;
      line-height: 19px;
      color: $thirdly-color;
      margin-top: 0;
      margin-bottom: 48px;
    }

    .stat {
      text-align: center;
    }

    .stats {
      display: flex;
      justify-content: space-between;
    }

    .number {
      display: block;
      font-size: 24px;
      font-weight: 600;
      line-height: 80px;
      color: #2a3246;
      text-align: center;

      &:hover {
        transition: all 0.2s ease-out;
        color: $fourthly-color;
      }
    }

    .label {
      display: block;
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      color: $thirdly-color;
    }
  }
}
