@include laptop {
  .header {
    &__nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      margin-top: 25px;
      margin-bottom: 68px;
      align-items: center;
    }

    .logo {
      margin-right: auto;
    }

    &__menu {
      display: flex;
      margin: 0;
      padding: 0;

      &-item {
        margin-right: 40px;
        color: $secondary-color;

        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;

        &:last-child {
          margin-right: 0;
        }
      }

      &-link {
        &:hover {
          transition: all 0.2s ease-out;
          color: #b9d2e1;
        }
      }
    }

    &__btn {
      margin-left: auto;
      padding: 12px 40px;
      border-radius: 5px;
      border: none;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      color: $primary-color;
      cursor: pointer;

      background: $background-color;
      background-image: linear-gradient(
          90deg,
          $secondary-color 50%,
          transparent 50%
        ),
        linear-gradient(90deg, $secondary-color 50%, transparent 50%),
        linear-gradient(0deg, $secondary-color 50%, transparent 50%),
        linear-gradient(0deg, $secondary-color 50%, transparent 50%);
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      background-size: 15px 4px, 15px 4px, 4px 15px, 5px 15px;
      background-position: 0px 0px, 200px 100px, 0px 100px, 200px 0px;
      animation: running-contour 6s linear infinite;

      &:hover {
        transition: all 0.2s ease-out;
        background-image: linear-gradient(
            90deg,
            $fourthly-color 50%,
            transparent 50%
          ),
          linear-gradient(90deg, $fourthly-color 50%, transparent 50%),
          linear-gradient(0deg, $fourthly-color 50%, transparent 50%),
          linear-gradient(0deg, $fourthly-color 50%, transparent 50%);
      }
    }
  }

  @keyframes running-contour {
    0% {
      background-position: -50px 0px, 50px 100%, 0px 50px, 100% -50px;
    }

    100% {
      background-position: 100px 0px, -100px 100%, 0px -100px, 100% 100px;
    }
  }
}

@include tablet {
  .header {
    &__nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      margin-top: 25px;
      margin-bottom: 68px;
      align-items: center;
    }

    .logo {
      margin-right: auto;
    }

    &__menu {
      display: flex;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 0;
      top: 0;
      background-color: bisque;

      &-item {
        margin-right: 40px;
        color: $secondary-color;

        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;

        &:last-child {
          margin-right: 0;
        }
      }

      &-link {
        &:hover {
          transition: all 0.2s ease-out;
          color: #b9d2e1;
        }
      }
    }

    &__btn {
      display: none;
    }

    &__burger-btn {
      display: block;
      position: relative;
      width: 40px;
      height: 17px;
      border: none;
      background-color: aquamarine;

      span {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #39515e;
        left: 5px;

        &:nth-child(1) {
          transform: translateY(-10px);
        }

        &:nth-child(3) {
          transform: translateY(10px);
        }
      }
    }
  }
}

@include mobile {
  header {
  }
}

@include small__mobile {
  header {
  }
}
